<h1>Results for {{searchText}}</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Discription</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
            <img src="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/justice_league_whv_keyart.jpg" width="100">
        </td>
        <td>Justice League</td>
        <td>
                Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his newfound ally, Diana Prince, to face an even greater enemy.
         </td>
         <td>
            <a href="/details/justice-league" class="btn btn-primary"><i class="bi bi-eye"></i>&nbsp;Details</a>
            <a href="/reviews/justice-league" class="btn btn-warning"><i class="bi bi-film"></i>&nbsp;Trailer</a>
         </td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>
            <img src="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/justice_league_whv_keyart.jpg" width="100">
        </td>
        <td>Justice League</td>
        <td>
                Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his newfound ally, Diana Prince, to face an even greater enemy.
         </td>
         <td>
            <a href="/details/justice-league" class="btn btn-primary"><i class="bi bi-eye"></i>&nbsp;Details</a>
            <a href="/reviews/justice-league" class="btn btn-warning"><i class="bi bi-film"></i>&nbsp;Trailer</a>
         </td>
      </tr>

    </tbody>
  </table>
