<figure class="figure">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn2.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcTgwC2GrtpVJp6H4hd49UtRWqHW1yCWW7O6a2lOwTp3VLLwy9G_YOnLpJb_Tp1UHGUviCy1_36EmM-vFiw&psig=AOvVaw1MsD0ehWfsR47SIsT2_OlH&ust=1691576963558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjWxrHtzIADFQAAAAAdAAAAABAE" 
    class="figure-img img-fluid rounded" alt="..."
    style="max-width: 150px;"
    >
    <figcaption class="figure-caption">Christia Bale</figcaption>
    <figcaption class="figure-caption text-warning">blah</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn2.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcTgwC2GrtpVJp6H4hd49UtRWqHW1yCWW7O6a2lOwTp3VLLwy9G_YOnLpJb_Tp1UHGUviCy1_36EmM-vFiw&psig=AOvVaw1MsD0ehWfsR47SIsT2_OlH&ust=1691576963558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjWxrHtzIADFQAAAAAdAAAAABAE" 
    class="figure-img img-fluid rounded" alt="..."
    style="max-width: 150px;"
    >
    <figcaption class="figure-caption">Christia Bale</figcaption>
    <figcaption class="figure-caption text-warning">blah</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn2.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcTgwC2GrtpVJp6H4hd49UtRWqHW1yCWW7O6a2lOwTp3VLLwy9G_YOnLpJb_Tp1UHGUviCy1_36EmM-vFiw&psig=AOvVaw1MsD0ehWfsR47SIsT2_OlH&ust=1691576963558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjWxrHtzIADFQAAAAAdAAAAABAE" 
    class="figure-img img-fluid rounded" alt="..."
    style="max-width: 150px;"
    >
    <figcaption class="figure-caption">Christia Bale</figcaption>
    <figcaption class="figure-caption text-warning">blah</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn2.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcTgwC2GrtpVJp6H4hd49UtRWqHW1yCWW7O6a2lOwTp3VLLwy9G_YOnLpJb_Tp1UHGUviCy1_36EmM-vFiw&psig=AOvVaw1MsD0ehWfsR47SIsT2_OlH&ust=1691576963558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjWxrHtzIADFQAAAAAdAAAAABAE" 
    class="figure-img img-fluid rounded" alt="..."
    style="max-width: 150px;"
    >
    <figcaption class="figure-caption">Christia Bale</figcaption>
    <figcaption class="figure-caption text-warning">blah</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn2.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcTgwC2GrtpVJp6H4hd49UtRWqHW1yCWW7O6a2lOwTp3VLLwy9G_YOnLpJb_Tp1UHGUviCy1_36EmM-vFiw&psig=AOvVaw1MsD0ehWfsR47SIsT2_OlH&ust=1691576963558000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjWxrHtzIADFQAAAAAdAAAAABAE" 
    class="figure-img img-fluid rounded" alt="..."
    style="max-width: 150px;"
    >
    <figcaption class="figure-caption">Christia Bale</figcaption>
    <figcaption class="figure-caption text-warning">blah</figcaption>
  </figure>


   <br>

  <button class="btn btn-warning text-light">View All Actors</button>