<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="bi bi-star-fill"></i><b>7.5/10 </b> &nbsp; Review #1 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <!-- add movie review here for batman begin-->
            <p class="lead"> batman begin is a good movie. it has a good story line and the actors are good. the movie is a good movie to watch. </p>
        </div>
      </div>
    </div>

    <!-- add more reviews here -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingtwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="bi bi-star-fill"></i><b>7.5/10 </b> &nbsp; Review #2 
            </button>
          </h2>
          <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <!-- add movie review here for batman begin-->
                <p class="lead"> batman begin is a good movie. it has a good story line and the actors are good. the movie is a good movie to watch. </p>
            </div>
          </div>
    </div>
    
  </div>