<H1>Movie Title</H1>
<br>

<div class="row">
    
    <div class="col-md-6">
        <iframe 
            width="100%" 
            height="315" 
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>

    </div>

    <div class="col-md-6">
        <p class="lead">This is going to be a placeholder for a the movie tag</p>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Starts</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Start 1 Name</li>
                            <li class="list-group-item">Start 2 Name</li>
                            <li class="list-group-item">Start 3 Name</li>
                        </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Starts</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Start 1 Name</li>
                            <li class="list-group-item">Start 2 Name</li>
                            <li class="list-group-item">Start 3 Name</li>
                        </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Starts</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Start 1 Name</li>
                            <li class="list-group-item">Start 2 Name</li>
                            <li class="list-group-item">Start 3 Name</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    
</div>


<hr>
<br>

<!--Actor Deatails-->

<div class="row">
    <h1 class="text-warning text-center">Actors</h1>
    <br>

    <div class="col-md-12 text-center">
       <app-actor-details></app-actor-details>
    </div>

</div>


<!--reviews-->
<hr>
<br>

<div class="row">
    <h1 class="text-warning text-center">Reviews</h1>
    <br>

    <div class="col-md-12 text-center">
       <app-details-reviews></app-details-reviews>
    </div>

</div>

